table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding-left: 50px;
    padding-right: 50px;
}

.color {
    background-color: yellow;
}

.id {
    background-color: deepskyblue;
}

.mdbutton {
    background-color: yellow;
}

.addbutton{
    background-color: greenyellow;
}

.reset{
    background-color: red;
}

.mode {
    background-color: #ffffcc;
}